
    <p>Practica desarrollada por <%= author %>
    <p>
<a href="https://github.com/santin74"><img src="https://avatars2.githubusercontent.com/u/13377963?v=3&s=460" alt="lijadora galactica cylon" style="width: 20%; height: 15%;></a>

